/*
    Hex codes: Mustard #E3B448, Sage #CBD18F, Forest Green #3A6B35
*/

* {
    font-family: "Courier", "Courier New", sans-serif;
}

h1.main-header {
    font-weight: bolder;
    background-color: #CBD18F;
    display: block;
    margin: 0px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

img.img-container {
    display: inline;
    width: auto;
    height: 183px;
    vertical-align: middle;
    margin: 10px;
}

#main {
    margin: 10px;
    width: auto;
    height: 183px;
}
div.description {
    display: inline-block;
    background-color: #E3B448;
    max-width: 48%;
    padding: 10px;
    border: solid black 2px;
}

div.procedure {
    display: inline-block;
    background-color: #89CFF0;
    max-width: 48%;
    padding: 10px;
    border: solid black 2px;
    margin: -12px;
    margin-top: 0%;
    vertical-align: top;
}

div.recommendation {
    display: inline;
    vertical-align: bottom;
}

.recommendation img {
    height: 230px;
    width: auto;
    margin: 5px;
    opacity: 75%;
}

div.description img {
    width: 99%;
    height: auto;
}



