* {
    font-family: "Courier", "Courier New", sans-serif;
}

.main.header {
    font-weight: bolder;
    background-color: orange;
    text-align: center;
}

.sub.header {
    font-weight: bold;
    background-color: skyblue;
    text-align: center;
}

img {
    height: auto;
    width: 500px;
    margin-left: 420px;
    margin-right: auto;
}

ul li {
    color: green;
}

ol li {
    color: blue;
}

p {
    color: rgb(153, 0, 153);
    text-align: justify;
    text-indent: 30px;
}

ol,
li {
    text-align: center;
}



